html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #000000, #434343);
  color: white;
}

section {
  background: transparent;
  padding: 20px;
}

header,
footer {
  background: transparent;
  text-align: center;
}
